@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Marcellus&display=swap');

.maincontainer {
    width: 100vw;
    height: 100%;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 5%;
}

.header h1 {
    font-size: 65px;
    color: #404E5C;
    font-family: 'Marcellus', serif;
    padding-left: 80px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  width: 100%;
  height: 50px;
}

.link {
    display: flex;
    flex-direction: row;
    color: #191970;
    font-style: bold;
    font-family: 'Marcellus', serif;
    font-size: 23px;
    padding-left: 50px;
    margin-right: 80px;
}

.link:hover {
    z-index: 2;
    transform: scale(1.2);
}

/* ABOUT MECONTAINER CLASSNAMES */
.aboutmepage {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100%;
      padding-top: 20px;
      align-items: center;
      color: #0e1c36;
      background-size: cover;
}

.aboutme h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      margin-top: 5px;
      font-size: 45px;
      font-family: 'Marcellus', serif;
      color: #119DA4;
      font-weight: bold;
}

.aboutme h5 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-left: 100px;
      padding-right: 100px;
      margin-left: 100px;
      margin-right: 100px;
      font-size: 23px;
      font-family: 'Montserrat', sans-serif;
}

.links {
    display: flex;
    flex-direction: row;
}

.logoimage {
    height: 40px;
    margin: 20px;
}


/* PROJECTCONTAINER CLASSNAMES */

.project {
    display: flex;
    flex-direction: column;
    height: 85.4vh;
    width: 99vw;
    align-items: center;
    color: #0e1c36;
    overflow-y: scroll;
}

.askanswer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    width: 80%;
    margin: 20px;
}

.flatflix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    width: 80%;
    margin: 20px;
}

.mygrub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    width: 80%;
    margin: 20px;
}

.project h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 20px;
    font-size: 45px;
    font-family: 'Marcellus', serif;
    color: #119DA4;
    font-weight: bold;
}

.project h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    color: #191970;
    font-family: 'Montserrat', sans-serif;
}

.project p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #191970;
}

.video {
    max-width: 80%;
    height: auto;
}

/* RESUME CONTAINER */
.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll; 
}

.button {
    background-color: #119DA4;
    color: white;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.button:hover {
    z-index: 2;
    transform: scale(1.2);
}

.resumeimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 40%;
    border: solid;
    margin-bottom: 50px;
}

